.Ajouter {
    width: 80%;
    background-color: #55525262;
    padding: 30px;
    margin: auto;
    border-radius: 5px;
    text-align: left;
}

.submit {
    text-align: right;
}

.submit input {
    border: 0;
    padding: 10px 15px;
    background-color: #00818A;
    color: white;
    margin: 5px;
    width: 100%;
    border: 1px solid silver;
    border-radius: 8px;
    cursor: pointer;
}

.submit input:disabled {
    opacity: .3;
    cursor: not-allowed;
}

.submit input:focus,
.submit input:hover {
    background-color: #01646b;
}