.DisplayedTweet {
    width: 550px;
    padding: 0 15px;
    background-color: #404B69;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    height: 100%;
    margin-bottom: 25px;
    border: 1px solid silver;
    border-radius: 8px;
}

.DisplayedTweet h2 {
    text-align: start;
    margin-bottom: 10px;
}

.DisplayedTweet p {
    text-align: start;
}

.DisplayedTweet h6 {
    margin: 0;
    padding-right: 15px;
}

.DisplayedTweet:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    color: white !important;
}

.link {
    text-decoration: none;
    color: inherit;
    margin: 15px;
}
.link:hover {
    text-decoration: none;
    color: white;
    text-transform: none;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid silver;
    padding: 15px;
}

.footerLeft small {
    margin-left: 10px;
}

.hashtag {
    color: #00818A;
    margin-right: 5px;
    text-align: end;
}
.icons svg {
    cursor: pointer;
    color: #00818A;
}