.button {
    border: 0;
    padding: 10px 15px;
    background-color: #fb743e;
    color: white;
    margin-top: 20px;
    cursor: pointer;
    align-items: center;
    border-radius: 4px;
    width: 20%;
    justify-content: center;
}

.button:focus,
.button:hover {
    background-color: #d3450d;
}