:global .container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

:global svg {
    margin: 0 !important;
}

.Layout {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.body {
    display: flex;
    height: 100%;
}

.content {
    flex-grow: 1;
}

.auth {
    margin-right: 50px;
    padding: 20px;
}