.Footer {
    color: #00818A;
    background-color: #283149;
    border-top: 1px solid silver;
    padding: 20px;
    font-size: .9rem;
    /* margin-top: 40px; */
}

.Footer a {
    text-decoration: none;
    color: #00818A;
}

.Footer a:hover {
    color: #01646b;
    font-weight: bold;
}